# Sesión 1: Notebook en R (tidyr/dyplr)

## Cargar Librerías y Datasets

Cargar las librerías necesarias

### Paquete `readr`
- **Descripción**: `readr` facilita la **lectura y escritura de archivos** en R, especialmente para formatos de texto como CSV.
- **Funciones principales**:
  - `read_csv()`: leer archivos CSV, una alternativa más rápida y conveniente que la función base `read.csv()`.
  - `write_csv()`: escribir un DataFrame en un archivo CSV.
- **Ventajas**: `readr` es rápido y maneja mejor los formatos modernos de archivos en comparación con las funciones base de R, permitiendo un mejor control sobre la importación/exportación de datos y manejo de tipos de datos.

In [19]:
getwd()

[1] "/home/jovyan/work/00/Sesión2 Refuerzo R y Python-20251111"

In [20]:
if (!require("readr")) install.packages("readr")
library(readr)

### Entorno `tidyverse`

#### Paquete `dplyr`
- **Descripción**: `dplyr` es una de las librerías centrales del ecosistema `tidyverse`, especialmente útil para la **manipulación y transformación de datos** en R.
- **Funciones principales**:
  - `select()`: seleccionar columnas específicas de un DataFrame.
  - `filter()`: filtrar filas en función de condiciones.
  - `mutate()`: crear o modificar columnas.
  - `arrange()`: ordenar los datos por una o varias columnas.
  - `summarise()` junto con `group_by()`: calcular resúmenes estadísticos agrupados (por ejemplo, la media de una columna por grupo).
- **Ventajas**: Las funciones de `dplyr` son **fáciles de leer y encadenar** con el operador `%>%`, permitiendo construir flujos de trabajo claros y eficientes.

#### Paquete `tidyr`
- **Descripción**: `tidyr` está diseñado para **transformar datos de forma estructurada**, ayudando a darles una estructura limpia y de fácil análisis.
- **Funciones principales**:
  - `pivot_longer()`: convierte datos de un formato ancho a un formato largo (útil para normalizar).
  - `pivot_wider()`: convierte datos de un formato largo a un formato ancho.
  - `separate()`: divide una columna en varias columnas.
  - `unite()`: combina múltiples columnas en una sola.
- **Ventajas**: `tidyr` es útil para **dar forma a los datos** antes del análisis, asegurando que estén organizados de una manera que sea fácil de trabajar con otras herramientas de análisis y visualización.

In [21]:
if (!require("dplyr")) install.packages("dplyr")
library(dplyr)
if (!require("tidyr")) install.packages("tidyr")
library(tidyr)

Cargar los datasets

In [22]:
df_size <- read_csv("penguins_size.csv")
df_lter <- read_csv("penguins_lter.csv")

Rows: 344 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): species, island, sex
dbl (4): culmen_length_mm, culmen_depth_mm, flipper_length_mm, body_mass_g

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 344 Columns: 17
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (10): studyName, Species, Region, Island, Stage, Individual ID, Clutch C...
dbl  (7): Sample Number, Culmen Length (mm), Culmen Depth (mm), Flipper Leng...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Verificar las primeras filas de cada dataset

In [23]:
print(df_lter)

# A tibble: 344 × 17
   studyName `Sample Number` Species         Region Island Stage `Individual ID`
   <chr>               <dbl> <chr>           <chr>  <chr>  <chr> <chr>
 1 PAL0708                 1 Adelie Penguin… Anvers Torge… Adul… N1A1
 2 PAL0708                 2 Adelie Penguin… Anvers Torge… Adul… N1A2
 3 PAL0708                 3 Adelie Penguin… Anvers Torge… Adul… N2A1
 4 PAL0708                 4 Adelie Penguin… Anvers Torge… Adul… N2A2
 5 PAL0708                 5 Adelie Penguin… Anvers Torge… Adul… N3A1
 6 PAL0708                 6 Adelie Penguin… Anvers Torge… Adul… N3A2
 7 PAL0708                 7 Adelie Penguin… Anvers Torge… Adul… N4A1
 8 PAL0708                 8 Adelie Penguin… Anvers Torge… Adul… N4A2
 9 PAL0708                 9 Adelie Penguin… Anvers Torge… Adul… N5A1
10 PAL0708                10 Adelie Penguin… Anvers Torge… Adul… N5A2
# ℹ 334 more rows
# ℹ 10 more variables: `Clutch Completion` <chr>, `Date Egg` <chr>,
#   `Culmen Length (mm)` <dbl>, `Culmen Depth (mm)` <dbl>,
#   `Flipper Length (mm)` <dbl>, `Body Mass (g)` <dbl>, Sex <chr>,
#   `Delta 15 N (o/oo)` <dbl>, `Delta 13 C (o/oo)` <dbl>, Comments <chr>

In [24]:
head(df_size)

  species island    culmen_length_mm culmen_depth_mm flipper_length_mm
1 Adelie  Torgersen 39.1             18.7            181
2 Adelie  Torgersen 39.5             17.4            186
3 Adelie  Torgersen 40.3             18.0            195
4 Adelie  Torgersen   NA               NA             NA
5 Adelie  Torgersen 36.7             19.3            193
6 Adelie  Torgersen 39.3             20.6            190
  body_mass_g sex
1 3750        MALE
2 3800        FEMALE
3 3250        FEMALE
4   NA        NA
5 3450        FEMALE
6 3650        MALE

In [25]:
head(df_lter)

  studyName Sample Number Species                             Region Island
1 PAL0708   1             Adelie Penguin (Pygoscelis adeliae) Anvers Torgersen
2 PAL0708   2             Adelie Penguin (Pygoscelis adeliae) Anvers Torgersen
3 PAL0708   3             Adelie Penguin (Pygoscelis adeliae) Anvers Torgersen
4 PAL0708   4             Adelie Penguin (Pygoscelis adeliae) Anvers Torgersen
5 PAL0708   5             Adelie Penguin (Pygoscelis adeliae) Anvers Torgersen
6 PAL0708   6             Adelie Penguin (Pygoscelis adeliae) Anvers Torgersen
  Stage              Individual ID Clutch Completion Date Egg
1 Adult, 1 Egg Stage N1A1          Yes               11/11/07
2 Adult, 1 Egg Stage N1A2          Yes               11/11/07
3 Adult, 1 Egg Stage N2A1          Yes               11/16/07
4 Adult, 1 Egg Stage N2A2          Yes               11/16/07
5 Adult, 1 Egg Stage N3A1          Yes               11/16/07
6 Adult, 1 Egg Stage N3A2          Yes               11/16/07
  Culmen Length (mm) Culmen Depth (mm) Flipper Length (mm) Body Mass (g) Sex
1 39.1               18.7              181                 3750          MALE
2 39.5               17.4              186                 3800          FEMALE
3 40.3               18.0              195                 3250          FEMALE
4   NA                 NA               NA                   NA          NA
5 36.7               19.3              193                 3450          FEMALE
6 39.3               20.6              190                 3650          MALE
  Delta 15 N (o/oo) Delta 13 C (o/oo) Comments
1      NA                  NA         Not enough blood for isotopes.
2 8.94956           -24.69454         NA
3 8.36821           -25.33302         NA
4      NA                  NA         Adult not sampled.
5 8.76651           -25.32426         NA
6 8.66496           -25.29805         NA

<br>

## 1. Exploración Inicial de los Datos

**Revisamos la estructura y los valores faltantes en los datos.**

Información general sobre el dataset

In [26]:
glimpse(df_size)

Rows: 344
Columns: 7
$ species           <chr> "Adelie", "Adelie", "Adelie", "Adelie", "Adelie", "A…
$ island            <chr> "Torgersen", "Torgersen", "Torgersen", "Torgersen", …
$ culmen_length_mm  <dbl> 39.1, 39.5, 40.3, NA, 36.7, 39.3, 38.9, 39.2, 34.1, …
$ culmen_depth_mm   <dbl> 18.7, 17.4, 18.0, NA, 19.3, 20.6, 17.8, 19.6, 18.1, …
$ flipper_length_mm <dbl> 181, 186, 195, NA, 193, 190, 181, 195, 193, 190, 186…
$ body_mass_g       <dbl> 3750, 3800, 3250, NA, 3450, 3650, 3625, 4675, 3475, …
$ sex               <chr> "MALE", "FEMALE", "FEMALE", NA, "FEMALE", "MALE", "F…

In [27]:
glimpse(df_lter)

Rows: 344
Columns: 17
$ studyName             <chr> "PAL0708", "PAL0708", "PAL0708", "PAL0708", "PAL…
$ `Sample Number`       <dbl> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1…
$ Species               <chr> "Adelie Penguin (Pygoscelis adeliae)", "Adelie P…
$ Region                <chr> "Anvers", "Anvers", "Anvers", "Anvers", "Anvers"…
$ Island                <chr> "Torgersen", "Torgersen", "Torgersen", "Torgerse…
$ Stage                 <chr> "Adult, 1 Egg Stage", "Adult, 1 Egg Stage", "Adu…
$ `Individual ID`       <chr> "N1A1", "N1A2", "N2A1", "N2A2", "N3A1", "N3A2", …
$ `Clutch Completion`   <chr> "Yes", "Yes", "Yes", "Yes", "Yes", "Yes", "No", …
$ `Date Egg`            <chr> "11/11/07", "11/11/07", "11/16/07", "11/16/07", …
$ `Culmen Length (mm)`  <dbl> 39.1, 39.5, 40.3, NA, 36.7, 39.3, 38.9, 39.2, 34…
$ `Culmen Depth (mm)`   <dbl> 18.7, 17.4, 18.0, NA, 19.3, 20.6, 17.8, 19.6, 18…
$ `Flipper Length (mm)` <dbl> 181, 186, 195, NA, 193, 190, 181, 195, 193, 190,…
$ `Body Mass (g)`       <dbl> 3750, 3800, 3250, NA, 3450, 3650, 3625, 4675, 34…
$ Sex                   <chr> "MALE", "FEMALE", "FEMALE", NA, "FEMALE", "MALE"…
$ `Delta 15 N (o/oo)`   <dbl> NA, 8.94956, 8.36821, NA, 8.76651, 8.66496, 9.18…
$ `Delta 13 C (o/oo)`   <dbl> NA, -24.69454, -25.33302, NA, -25.32426, -25.298…
$ Comments              <chr> "Not enough blood for isotopes.", NA, NA, "Adult…

Resumen estadístico de cada dataset

In [28]:
summary(df_size)

   species             island          culmen_length_mm culmen_depth_mm
 Length:344         Length:344         Min.   :32.10    Min.   :13.10
 Class :character   Class :character   1st Qu.:39.23    1st Qu.:15.60
 Mode  :character   Mode  :character   Median :44.45    Median :17.30
                                       Mean   :43.92    Mean   :17.15
                                       3rd Qu.:48.50    3rd Qu.:18.70
                                       Max.   :59.60    Max.   :21.50
                                       NA's   :2        NA's   :2
 flipper_length_mm  body_mass_g       sex
 Min.   :172.0     Min.   :2700   Length:344
 1st Qu.:190.0     1st Qu.:3550   Class :character
 Median :197.0     Median :4050   Mode  :character
 Mean   :200.9     Mean   :4202
 3rd Qu.:213.0     3rd Qu.:4750
 Max.   :231.0     Max.   :6300
 NA's   :2         NA's   :2

In [29]:
df_size$island <- as.factor(df_size$island)
summary(df_size)

   species                island    culmen_length_mm culmen_depth_mm
 Length:344         Biscoe   :168   Min.   :32.10    Min.   :13.10
 Class :character   Dream    :124   1st Qu.:39.23    1st Qu.:15.60
 Mode  :character   Torgersen: 52   Median :44.45    Median :17.30
                                    Mean   :43.92    Mean   :17.15
                                    3rd Qu.:48.50    3rd Qu.:18.70
                                    Max.   :59.60    Max.   :21.50
                                    NA's   :2        NA's   :2
 flipper_length_mm  body_mass_g       sex
 Min.   :172.0     Min.   :2700   Length:344
 1st Qu.:190.0     1st Qu.:3550   Class :character
 Median :197.0     Median :4050   Mode  :character
 Mean   :200.9     Mean   :4202
 3rd Qu.:213.0     3rd Qu.:4750
 Max.   :231.0     Max.   :6300
 NA's   :2         NA's   :2

In [30]:
summary(df_lter)

  studyName         Sample Number      Species             Region
 Length:344         Min.   :  1.00   Length:344         Length:344
 Class :character   1st Qu.: 29.00   Class :character   Class :character
 Mode  :character   Median : 58.00   Mode  :character   Mode  :character
                    Mean   : 63.15
                    3rd Qu.: 95.25
                    Max.   :152.00

    Island             Stage           Individual ID      Clutch Completion
 Length:344         Length:344         Length:344         Length:344
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character




   Date Egg         Culmen Length (mm) Culmen Depth (mm) Flipper Length (mm)
 Length:344         Min.   :32.10      Min.   :13.10     Min.   :172.0
 Class :character   1st Qu.:39.23      1st Qu.:15.60     1st Qu.:190.0
 Mode  :character   Median :44.45      Median :17.30     Median :197.0
                    Mean   :43.92      Mean   :17.15     Mean   :200.9
                    3rd Qu.:48.50      3rd Qu.:18.70     3rd Qu.:213.0
                    Max.   :59.60      Max.   :21.50     Max.   :231.0
                    NA's   :2          NA's   :2         NA's   :2
 Body Mass (g)      Sex            Delta 15 N (o/oo) Delta 13 C (o/oo)
 Min.   :2700   Length:344         Min.   : 7.632    Min.   :-27.02
 1st Qu.:3550   Class :character   1st Qu.: 8.300    1st Qu.:-26.32
 Median :4050   Mode  :character   Median : 8.652    Median :-25.83
 Mean   :4202                      Mean   : 8.733    Mean   :-25.69
 3rd Qu.:4750                      3rd Qu.: 9.172    3rd Qu.:-25.06
 Max.   :6300                      Max.   :10.025    Max.   :-23.79
 NA's   :2                         NA's   :14        NA's   :13
   Comments
 Length:344
 Class :character
 Mode  :character

Revisión de valores faltantes

In [31]:
colSums(is.na(df_size))

          species            island  culmen_length_mm   culmen_depth_mm
                0                 0                 2                 2
flipper_length_mm       body_mass_g               sex
                2                 2                10

In [32]:
colSums(is.na(df_lter))

          studyName       Sample Number             Species              Region
                  0                   0                   0                   0
             Island               Stage       Individual ID   Clutch Completion
                  0                   0                   0                   0
           Date Egg  Culmen Length (mm)   Culmen Depth (mm) Flipper Length (mm)
                  0                   2                   2                   2
      Body Mass (g)                 Sex   Delta 15 N (o/oo)   Delta 13 C (o/oo)
                  2                  10                  14                  13
           Comments
                318

<br>

## 2. Manipulación de Filas y Columnas

**Selección de columnas y filas**

Seleccionar columnas específicas: especie, longitud de aleta y masa corporal

In [33]:
df_size_selected <- df_size %>% select(species, flipper_length_mm, body_mass_g)
head(df_size_selected)

  species flipper_length_mm body_mass_g
1 Adelie  181               3750
2 Adelie  186               3800
3 Adelie  195               3250
4 Adelie   NA                 NA
5 Adelie  193               3450
6 Adelie  190               3650

Filtrar filas donde la masa corporal es mayor a 4000 gramos

In [34]:
df_heavy_penguins <- df_size %>% filter(body_mass_g > 4000)
head(df_heavy_penguins)

  species island    culmen_length_mm culmen_depth_mm flipper_length_mm
1 Adelie  Torgersen 39.2             19.6            195
2 Adelie  Torgersen 42.0             20.2            190
3 Adelie  Torgersen 34.6             21.1            198
4 Adelie  Torgersen 42.5             20.7            197
5 Adelie  Torgersen 46.0             21.5            194
6 Adelie  Dream     39.2             21.1            196
  body_mass_g sex
1 4675        MALE
2 4250        NA
3 4400        MALE
4 4500        MALE
5 4200        MALE
6 4150        MALE

<br>

## 3. Transformación de Datos

**Creación y Modificación de Columnas**

In [35]:
# Crear una nueva columna para masa corporal en kilogramos
df_size <- df_size %>% mutate(body_mass_kg = body_mass_g / 1000)

# Convertir la columna 'sex' a minúsculas para estandarizar los valores
df_size <- df_size %>% mutate(sex = tolower(sex))

# Ver los cambios realizados
head(df_size)

  species island    culmen_length_mm culmen_depth_mm flipper_length_mm
1 Adelie  Torgersen 39.1             18.7            181
2 Adelie  Torgersen 39.5             17.4            186
3 Adelie  Torgersen 40.3             18.0            195
4 Adelie  Torgersen   NA               NA             NA
5 Adelie  Torgersen 36.7             19.3            193
6 Adelie  Torgersen 39.3             20.6            190
  body_mass_g sex    body_mass_kg
1 3750        male   3.75
2 3800        female 3.80
3 3250        female 3.25
4   NA        NA       NA
5 3450        female 3.45
6 3650        male   3.65

**Eliminación de columnas**

In [36]:
# Eliminar la columna 'culmen_depth_mm' ya que no se necesita para ciertos análisis
df_size <- df_size %>% select(-culmen_depth_mm)
head(df_size)

  species island    culmen_length_mm flipper_length_mm body_mass_g sex
1 Adelie  Torgersen 39.1             181               3750        male
2 Adelie  Torgersen 39.5             186               3800        female
3 Adelie  Torgersen 40.3             195               3250        female
4 Adelie  Torgersen   NA              NA                 NA        NA
5 Adelie  Torgersen 36.7             193               3450        female
6 Adelie  Torgersen 39.3             190               3650        male
  body_mass_kg
1 3.75
2 3.80
3 3.25
4   NA
5 3.45
6 3.65

<br>

## 4. Agrupación y Resumen de Datos

**Agrupación de datos y cálculo de estadísticas**

Agrupar por especie y calcular la media de masa corporal y longitud de aleta

In [37]:
df_grouped <- df_size %>%
  group_by(species) %>%
  summarise(mean_body_mass = mean(body_mass_g, na.rm = TRUE),
            mean_flipper_length = mean(flipper_length_mm, na.rm = TRUE))
df_grouped

  species   mean_body_mass mean_flipper_length
1 Adelie    3700.662       189.9536
2 Chinstrap 3733.088       195.8235
3 Gentoo    5076.016       217.1870

<br>

## 5. Operaciones Avanzadas

**Reemplazo de valores en columnas**

Realizamos el reemplazo de valores de manera similar a replace en Python.

In [38]:
df_lter <- df_lter %>% # Cambiar el nombre de las columnas (mayus -> minus)
    rename(island = Island,
           sex = Sex,
           species = Species) %>% # Reemplazar valores en la columna 'species'
    mutate(species = recode(species,
                            "Adelie Penguin (Pygoscelis adeliae)" = "Adelie",
                            "Chinstrap penguin (Pygoscelis antarctica)" = "Chinstrap",
                            "Gentoo penguin (Pygoscelis papua)" = "Gentoo"))

# Reemplazar valores en la columna 'sex'
df_lter <- df_lter %>%
  mutate(sex = recode(sex, "MALE" = "male", "FEMALE" = "female"))

# Ver los cambios realizados
head(df_lter)

  studyName Sample Number species Region island    Stage
1 PAL0708   1             Adelie  Anvers Torgersen Adult, 1 Egg Stage
2 PAL0708   2             Adelie  Anvers Torgersen Adult, 1 Egg Stage
3 PAL0708   3             Adelie  Anvers Torgersen Adult, 1 Egg Stage
4 PAL0708   4             Adelie  Anvers Torgersen Adult, 1 Egg Stage
5 PAL0708   5             Adelie  Anvers Torgersen Adult, 1 Egg Stage
6 PAL0708   6             Adelie  Anvers Torgersen Adult, 1 Egg Stage
  Individual ID Clutch Completion Date Egg Culmen Length (mm) Culmen Depth (mm)
1 N1A1          Yes               11/11/07 39.1               18.7
2 N1A2          Yes               11/11/07 39.5               17.4
3 N2A1          Yes               11/16/07 40.3               18.0
4 N2A2          Yes               11/16/07   NA                 NA
5 N3A1          Yes               11/16/07 36.7               19.3
6 N3A2          Yes               11/16/07 39.3               20.6
  Flipper Length (mm) Body Mass (g) sex    Delta 15 N (o/oo) Delta 13 C (o/oo)
1 181                 3750          male        NA                  NA
2 186                 3800          female 8.94956           -24.69454
3 195                 3250          female 8.36821           -25.33302
4  NA                   NA          NA          NA                  NA
5 193                 3450          female 8.76651           -25.32426
6 190                 3650          male   8.66496           -25.29805
  Comments
1 Not enough blood for isotopes.
2 NA
3 NA
4 Adult not sampled.
5 NA
6 NA

**Combinación de DataFrames**

Unimos los dos DataFrames (df_size y df_lter) en función de columnas comunes.

In [39]:
# Unir los DataFrames en base a las columnas comunes
df_combined <- df_size %>% 
  inner_join(df_lter, by = c("species", "island", "sex"))
head(df_combined)

Warning message in inner_join(., df_lter, by = c("species", "island", "sex")):
“Detected an unexpected many-to-many relationship between `x` and `y`.
ℹ Row 1 of `x` matches multiple rows in `y`.
ℹ Row 2 of `y` matches multiple rows in `x`.
ℹ If a many-to-many relationship is expected, set `relationship =
  "many-to-many"` to silence this warning.”

  species island    culmen_length_mm flipper_length_mm body_mass_g sex
1 Adelie  Torgersen 39.1             181               3750        male
2 Adelie  Torgersen 39.1             181               3750        male
3 Adelie  Torgersen 39.1             181               3750        male
4 Adelie  Torgersen 39.1             181               3750        male
5 Adelie  Torgersen 39.1             181               3750        male
6 Adelie  Torgersen 39.1             181               3750        male
  body_mass_kg studyName Sample Number Region ⋯ Individual ID Clutch Completion
1 3.75         PAL0708    1            Anvers ⋯ N1A1          Yes
2 3.75         PAL0708    6            Anvers ⋯ N3A2          Yes
3 3.75         PAL0708    8            Anvers ⋯ N4A2          No
4 3.75         PAL0708   14            Anvers ⋯ N7A2          Yes
5 3.75         PAL0708   15            Anvers ⋯ N8A1          Yes
6 3.75         PAL0708   18            Anvers ⋯ N9A2          Yes
  Date Egg Culmen Length (mm) Culmen Depth (mm) Flipper Length (mm)
1 11/11/07 39.1               18.7              181
2 11/16/07 39.3               20.6              190
3 11/15/07 39.2               19.6              195
4 11/15/07 38.6               21.2              191
5 11/16/07 34.6               21.1              198
6 11/12/07 42.5               20.7              197
  Body Mass (g) Delta 15 N (o/oo) Delta 13 C (o/oo)
1 3750               NA                  NA
2 3650          8.66496           -25.29805
3 4675          9.46060           -24.89958
4 3800               NA                  NA
5 4400          8.55583           -25.22588
6 4500          8.67538           -25.13993
  Comments
1 Not enough blood for isotopes.
2 NA
3 Nest never observed with full clutch.
4 Not enough blood for isotopes.
5 NA
6 NA

**Manejo de valores faltantes**

In [40]:
# Rellenar valores faltantes en la columna 'body_mass_g' con la media
df_combined <- df_combined %>%
  mutate(body_mass_g = ifelse(is.na(body_mass_g), 
                              mean(body_mass_g, na.rm = TRUE), 
                              body_mass_g))

# Eliminar filas con valores faltantes en la columna 'sex'
df_combined <- df_combined %>% drop_na(sex)
head(df_combined)

  species island    culmen_length_mm flipper_length_mm body_mass_g sex
1 Adelie  Torgersen 39.1             181               3750        male
2 Adelie  Torgersen 39.1             181               3750        male
3 Adelie  Torgersen 39.1             181               3750        male
4 Adelie  Torgersen 39.1             181               3750        male
5 Adelie  Torgersen 39.1             181               3750        male
6 Adelie  Torgersen 39.1             181               3750        male
  body_mass_kg studyName Sample Number Region ⋯ Individual ID Clutch Completion
1 3.75         PAL0708    1            Anvers ⋯ N1A1          Yes
2 3.75         PAL0708    6            Anvers ⋯ N3A2          Yes
3 3.75         PAL0708    8            Anvers ⋯ N4A2          No
4 3.75         PAL0708   14            Anvers ⋯ N7A2          Yes
5 3.75         PAL0708   15            Anvers ⋯ N8A1          Yes
6 3.75         PAL0708   18            Anvers ⋯ N9A2          Yes
  Date Egg Culmen Length (mm) Culmen Depth (mm) Flipper Length (mm)
1 11/11/07 39.1               18.7              181
2 11/16/07 39.3               20.6              190
3 11/15/07 39.2               19.6              195
4 11/15/07 38.6               21.2              191
5 11/16/07 34.6               21.1              198
6 11/12/07 42.5               20.7              197
  Body Mass (g) Delta 15 N (o/oo) Delta 13 C (o/oo)
1 3750               NA                  NA
2 3650          8.66496           -25.29805
3 4675          9.46060           -24.89958
4 3800               NA                  NA
5 4400          8.55583           -25.22588
6 4500          8.67538           -25.13993
  Comments
1 Not enough blood for isotopes.
2 NA
3 Nest never observed with full clutch.
4 Not enough blood for isotopes.
5 NA
6 NA

**Aplicación de funciones a columnas**

In [20]:
# Redondear los valores de 'body_mass_kg' a 2 decimales
df_combined <- df_combined %>%
  mutate(body_mass_kg = round(body_mass_kg, 2))

# Ver los cambios realizados
head(df_combined)

  species island    culmen_length_mm flipper_length_mm body_mass_g sex
1 Adelie  Torgersen 39.1             181               3750        male
2 Adelie  Torgersen 39.1             181               3750        male
3 Adelie  Torgersen 39.1             181               3750        male
4 Adelie  Torgersen 39.1             181               3750        male
5 Adelie  Torgersen 39.1             181               3750        male
6 Adelie  Torgersen 39.1             181               3750        male
  body_mass_kg studyName Sample Number Region ⋯ Individual ID Clutch Completion
1 3.75         PAL0708    1            Anvers ⋯ N1A1          Yes
2 3.75         PAL0708    6            Anvers ⋯ N3A2          Yes
3 3.75         PAL0708    8            Anvers ⋯ N4A2          No
4 3.75         PAL0708   14            Anvers ⋯ N7A2          Yes
5 3.75         PAL0708   15            Anvers ⋯ N8A1          Yes
6 3.75         PAL0708   18            Anvers ⋯ N9A2          Yes
  Date Egg Culmen Length (mm) Culmen Depth (mm) Flipper Length (mm)
1 11/11/07 39.1               18.7              181
2 11/16/07 39.3               20.6              190
3 11/15/07 39.2               19.6              195
4 11/15/07 38.6               21.2              191
5 11/16/07 34.6               21.1              198
6 11/12/07 42.5               20.7              197
  Body Mass (g) Delta 15 N (o/oo) Delta 13 C (o/oo)
1 3750               NA                  NA
2 3650          8.66496           -25.29805
3 4675          9.46060           -24.89958
4 3800               NA                  NA
5 4400          8.55583           -25.22588
6 4500          8.67538           -25.13993
  Comments
1 Not enough blood for isotopes.
2 NA
3 Nest never observed with full clutch.
4 Not enough blood for isotopes.
5 NA
6 NA

<br>

## 6. Exportación de Resultados

Finalmente, guardamos el DataFrame combinado en un archivo CSV.

In [21]:
# Guardar el DataFrame combinado en un archivo CSV
write_csv(df_combined, "penguins_combined_R.csv")

<br>